<div class="containerUpper">
  <div class="containerZipCode">
    <div class="autoInsurance">Auto Insurance</div>
    <div class="zipCode">
      <app-zip-code></app-zip-code>
    </div>
  </div>
  <div class="containerHeader">
    <div class="bestInsuranceRatesHeader blue">10 Best New York car insurance rates</div>
    <div class="bestInsuranceRatesSubHeader">Find and compare your best rates in 2 minutes</div>
    <app-zip-code></app-zip-code>
  </div>
  <app-article-dropdown-list></app-article-dropdown-list>
  <div>
    <img class="image" src="" alt="">
  </div>
</div>
