<div class="dropdownList">
  <div>
    <div appDropdown class="dropdownItem">
      <div class="header">Basics</div>
      <div class="arrow down"></div>
    </div>
    <div style="display: none;" class="dropdownSubItems">
      <div *ngFor="let i of  [0,1];" [routerLink]="['/article', i]">
        {{ articles[i].header }}
      </div>
    </div>
  </div>
  <div>
    <div appDropdown class="dropdownItem">
      <div class="header">Types of coverage</div>
      <div class="arrow down"></div>
    </div>
    <div style="display: none;" class="dropdownSubItems">
      <div *ngFor="let i of  [2,3];" [routerLink]="['/article', i]">
        {{ articles[i].header }}
      </div>
    </div>
  </div>
  <div>
    <div appDropdown class="dropdownItem">
      <div class="header">Tips</div>
      <div class="arrow down"></div>
    </div>
    <div style="display: none;" class="dropdownSubItems">
      <div *ngFor="let i of  [4,5];" [routerLink]="['/article', i]">
        {{ articles[i].header }}
      </div>
    </div>
  </div>
  <div>
    <div appDropdown class="dropdownItem">
      <div class="header">State laws</div>
      <div class="arrow down"></div>
    </div>
    <div style="display: none;" class="dropdownSubItems">
      <div *ngFor="let i of  [6,7];" [routerLink]="['/article', i]">
        {{ articles[i].header }}
      </div>
    </div>
  </div>
</div>
